.btn-close {
    display: inline-block;
    width: 20px;
    height: 20px;

    background-image: url("/assets/images/icons/cross.svg");
    background-repeat: no-repeat;
    background-size: contain;
}