// TEXT-PARAGRAPHS
.text-bold {
    font-weight: 500;
}

.text-muted {
    color: var(--color-grey);
}

.text-medium {
    font-size: 18px;
    line-height: 24px;
}
.text-small {
    font-size: 16px;
    line-height: 18px;
}
.text-smallest {
    font-size: 14px;
    line-height: 20px;

}